<div class="login-main-outer" [hidden]="div == 'true'">
  <div class="login-inner">
    <div class="form-outer">
      <h2>Sign In</h2>
      <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div
          class="col-md-6 form-group"
          [ngClass]="{
            'is-invalid': submitted && f.email.errors
          }"
        >
          <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
          <input
            type="email"
            id="email"
            class="form-control input-style"
            placeholder="Enter your email"
            formControlName="email"
          />
        </div>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Must be an valid email address</div>
        </div>
        <div
          class="col-md-6 form-group"
          [ngClass]="{
            'is-invalid': submitted && f.password.errors
          }"
        >
          <span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
          <input
            type="password"
            id="password"
            class="form-control input-style"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
        <div
          class="col-md-6 form-group"
          [ngClass]="{
            'is-invalid': submitted && f.phoneNumber.errors
          }"
        >
          <span><i class="fa fa-phone" aria-hidden="true"></i></span>
          <input
            type="number"
            id="phoneNumber"
            class="form-control input-style"
            placeholder="Phone number with country code"
            formControlName="phoneNumber"
            onkeydown="javascript: return event.keyCode == 69 || event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 187 ? false : true"
          />
        </div>
        <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
          <div *ngIf="f.phoneNumber.errors.required">
            Phone Number is required
          </div>
        </div>

        <div id="recaptcha-container"></div>

        <button *ngIf="isSaving; else submitPhone">
          <ng-container>
            <div
              class="loader"
              style="margin: auto; height: 20px; width: 20px"
            ></div>
          </ng-container>
        </button>

        <button #submitPhone type="submit" [hidden]="isSaving">Submit</button>
      </form>
    </div>
  </div>
</div>
<div class="login-main-outer" [hidden]="div == 'false'">
  <div class="login-inner">
    <div class="form-outer">
      <h2>Enter OTP</h2>
      <form
        class="form"
        [formGroup]="verifyForm"
        (ngSubmit)="verifyLoginCode()"
      >
        <div
          class="form-group"
          [ngClass]="{
            'is-invalid': vsub && f1.code.errors
          }"
        >
          <span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
          <input
            type="text"
            id="username"
            placeholder="Enter OTP"
            formControlName="code"
          />
        </div>
        <div *ngIf="vsub && f1.code.errors" class="invalid-feedback">
          <div *ngIf="f1.code.errors.required">Code is required</div>
        </div>

        <otp [setting]="settings" (click)="onInputChange()"></otp>

        <button type="submit" style="margin-top: 7px">Submit</button>
      </form>
    </div>
  </div>
</div>
